<div class="nav col-md-2">
  <div class="nav-image navbar-text">
    <%= image_tag( "avatar.svg", :alt => "type", :class => "img-fluid") %>

  </div>

  <div class="navbar-text brand">
    <div>
      <h2>Eric Shull</h2>
    </div>
    <div class="small">
      <h2><small>Web Developer</small></h2>
    </div>
  </div>
  <div class="navbar-text">
    <h2><%= link_to "Projects", posts_path %></h2>
  </div>

</div>
